{% extends "base/base.html" %}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/404.css' %}">
<div class="face">
    <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
</div>

<h1>Oops! Page not found!</h1>
<div class="btn" onclick="window.location='/'"><a href="{% url 'base:home'%}">Return to Home</a></div>
{% endblock content %}
