{% load static%}
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">

</head>
<body>


<div class="blob left"></div>
<div class="blob right"></div>


<div class="header-pill">
  <h1>Booking Form</h1>
  <a href="{% url 'base:home' %}">Home</a>
  <a href="{% url 'base:packages' %}">packages</a>
</div>


<section class="booking-area">
  <div class="booking-box">

    <h2>BOOK YOUR PACKAGE </h2>

    <form>
      <div class="form-grid">
        <div class="field">
          <label>Full Name</label>
          <input type="text" placeholder="Enter your full name">
        </div>

        <div class="field">
          <label>Email</label>
          <input type="email" placeholder="Add email">
        </div>

        <div class="field">
          <label>Phone Number</label>
          <input type="text" placeholder="Enter phone number">
        </div>

        <div class="field">
          <label>Package</label>
          <select>
            <option>Choose your package</option>
            <option>Umrah Economy</option>
            <option>Umrah VIP</option>
            <option>Hajj Package</option>
          </select>
        </div>

        <div class="field full">
          <label>Hometown</label>
          <input type="text" placeholder="Add your address">
        </div>
      </div>

      <button>Send Request</button>
    </form>

  </div>
</section>

</body>
</html>
