{% extends "base/base.html" %}
{% load static %}

{% block title %}Miqat Places{% endblock %}

{% block content %}
<section class="miqat-wrapper">

 
  <div class="miqat-left">

  
    <div class="breadcrumb">
      <a href="/">Home</a> / <a href="#">Hajj</a> / <span>Miqat</span>
    </div>

   
    <div class="miqat-header">
      <img src="{% static 'images/miqatmap.jpeg' %}" alt="Miqat Map" class="header-img">
      
    </div>

   
    <div class="toc">
      <h3>Table of Contents</h3>
      <ul>
         <li><a href="#miqat">miqat meaning</a></li>
        <li><a href="#dhul-hulayfah">Dhul Hulayfah (Abyar ‘Ali)</a></li>
        <li><a href="#qarn-al-manazil">Qarn al-Manazil (As-Sayl al-Kabir)</a></li>
        <li><a href="#yalamlam">Yalamlam</a></li>
        <li><a href="#al-juhfah">Al-Juhfah</a></li>
        <li><a href="#dhat-irq">Dhat Irq</a></li>
      </ul>
    </div>

    
    <div class="miqat-details">
 <article id="miqat" class="miqat-section">
  <h3>Miqat</h3>
     <p>Miqat (Arabic: ميقات) refers to the boundary where it becomes necessary for pilgrims to 
      adorn the Ihram garments and impermissible to pass except in the state of Ihram.
      Those who cross the boundary without having entered into the state of Ihram must 
      perform an animal sacrifice (Damm) as expiation.</p>

      <h3>What to Do There</h3>
      <b> Ghusl (Ritual Purification):</b><p> Performing a full-body wash is a highly recommended Sunnah 
        before entering Ihram. It is also recommended to trim nails and remove unwanted body hair.</p>
      <b>Wearing Ihram Garments:</b>
      <p>Men wear two seamless, white pieces of cloth: the Izar (lower garment) and the Rida (upper garment).
       They must also wear simple sandals that do not cover the ankle and keep their heads uncovered.
      Women can wear any modest, loose-fitting clothing of any color, ensuring everything except their face, 
     hands, and feet are covered. They must not wear gloves or cover their faces.</p>
      <b>Salah al-Ihram:</b> 
      <p>It is a Sunnah to perform two rak'ahs (units) of voluntary prayer after putting on the Ihram garments.</p>
      <b>Making Intention:</b>
      <p>The intention for Hajj or Umrah must be stated, which initiates 
      the state of Ihram. An example intention is provided in reference.</p><br>
      <b>Reciting the Talbiyah:</b>
      <p> Following the intention, pilgrims begin reciting the Talbiyah.  </p>
      <img src="{% static 'images/labbaikimg.png' %}" class="labbaikimg">
 </article>
  <article id="dhul-hulayfah" class="miqat-section">
        <h2>Dhul Hulayfah (Abyar ‘Ali)</h2>
        <p>Dhul Hulayfah, also known as Abyar 'Ali or Masjid al-Shajarah (Mosque of the Tree), 
          is the designated Miqat (boundary point) for pilgrims traveling to Makkah from or through Madinah.
           It is a mandatory spiritual 
          checkpoint where pilgrims must enter the state of Ihram before proceeding to Makkah for Hajj or Umrah
          .The miqat mosque is located west of Wadi al-'Aqiq, where the final Islamic prophet, Muhammad, 
          entered the state of ihram before performing 'Umrah, after the Treaty of Hudaybiyyah. </p>
    <img src="{% static 'images/dhul.jpg' %}" class="dhulimg"><br><br>
     <h2 style="text-align:center; margin-bottom: 15px;">
        حديث المواقيت
    </h2>

    <p dir="rtl" style="font-size: 22px; line-height: 2; margin-bottom: 20px;">
        <strong>حدثنا مسدد، حدثنا حماد، عن عمرو بن دينار، عن طاووس، عن ابن عباس رضي الله عنهما قال:</strong>
        وقت رسول الله ﷺ لاهل المدينة ذو الحليفة،
        واهل الشام الجحفة،
        واهل نجد قرن المنازل،
        واهل اليمن يلملم.
        فهن لهن ولمن اتى عليهن من غير اهلهم لمن كان يريد الحج والعمرة،
        فمن كان دونهن فمهله من اهله،
        وكذلك حتى اهل مكة يهلون منها.
    </p>

    <p style="font-size: 17px; line-height: 1.8; font-style: italic;">
        "The Messenger of Allah (ﷺ) set Dhul-Hulayfah for the people of Madinah,
        Al-Juhfah for the people of Shaam,
        Qarn al-Manazil for the people of Najd,
        and Yalamlam for the people of Yemen.
        These places are for them and for anyone who passes them intending Hajj or Umrah.
        Whoever lives within these boundaries enters Ihram from his home,
        and the people of Makkah enter Ihram from Makkah."
    </p>

    <p style="margin-top: 15px; font-weight: bold;">
        Reference: Sahih al-Bukhari
    </p>

      <h3>Significance and Location</h3>
      <b>Location:</b>
      <p>Situated in the blessed valley of al-Aqiq, it is about 18 kilometers (11 miles) southwest of Masjid al-Nabawi (the Prophet's Mosque) in Madinah and approximately 410 kilometers (255 miles) north of Makkah.</p>
      <b>Historical Importance:</b>
      <p> This site holds profound historical value as it is where the Prophet Muhammad (PBUH) himself assumed Ihram during his Farewell Pilgrimage. This makes it an integral part of following the Sunnah (Prophet's tradition).</p>
      <b>Purpose:</b>
      <p> The primary purpose of stopping here is to signify the transition from worldly life to a sacred state of purity and devotion, ensuring all pilgrims approach the Holy City with equal humility. </p>
  </article>

      
  <article id="qarn-al-manazil" class="miqat-section">
        <h2>Qarn al-Manazil (As-Sayl al-Kabir)</h2>
        <p>Qarn al-Manazil is one of the five primary Miqat (plural: Mawaqit), the mandatory boundary points 
          where pilgrims intending to perform Hajj or Umrah must enter the state of Ihram before proceeding to Makkah.
           It is also known as As-Sayl al-Kabir and is located about 80 kilometers (50 miles) east of Makkah, near the city of Ta'if. </p>
          <img src="{% static 'images/qarn.jpeg' %}" class="qarnimg">
          <br>
          <br>
           <h3 style="text-align:center; margin-bottom: 15px;">
        ميقات اهل نجد
    </h3>

    <p dir="rtl" style="font-size: 24px; line-height: 2; margin-bottom: 20px;">
        <strong>قال رسول الله ﷺ: قرن المنازل ميقات اهل نجد</strong>
    </p>

    <p style="font-size: 17px; line-height: 1.8; font-style: italic;">
        "The Messenger of Allah (ﷺ) said: Qarn al-Manazil is the Miqat for the people of Najd."
    </p>

    <p style="margin-top: 15px; font-weight: bold;">
        Reference: Sahih al-Bukhari
    </p>
        <h2>Significance and Purpose</h2>
        <p><b>Designated Miqat: </b>It is the historically specified Miqat for people coming from the Najd region (which includes Riyadh) and those traveling from eastern areas, including the UAE, Oman, Pakistan, Malaysia, and Singapore.</p>
        <p><b>Spiritual Gateway:</b> The Miqat serves as a spiritual and physical checkpoint. Crossing this boundary without entering the state of Ihram (if one intends to perform Hajj or Umrah) is a transgression that requires expiation (an animal sacrifice, or damm).</p>
        <p><b>Symbol of Equality: </b>Entering Ihram at the Miqat symbolizes the shedding of worldly status and concerns, emphasizing the equality of all pilgrims before Allah.
<p><b>Historical Connection: </b>The area holds historical significance, as the Prophet Muhammad (PBUH) passed by it during the events of the Battle of Ta'if and designated it as a Miqat point. 
</p>
       
  </article>

  <article id="yalamlam" class="miqat-section">
        <h2>Yalamlam</h2>
        <p>Yalamlam is the Miqat (boundary point) for pilgrims coming from the south,
           specifically Yemen and other southern regions, including some routes from Southeast Asia and Africa. 
           All pilgrims intending to perform Hajj or Umrah must enter the state of Ihram at or before this point,
           which is a mandatory step for the pilgrimage to be valid. </p>
         <img src="{% static 'images/miqatyamlamlam.jpeg' %}" class="qarnimg">
         <br>
         <br>
         <h2 style="text-align:center; margin-bottom: 15px;">
        حديث الميقات
    </h2>
          <p dir="rtl" style="font-size: 22px; line-height: 2; margin-bottom: 20px;">
        <strong>عن ابن عباس رضي الله عنه قال:</strong>
        وقت رسول الله ﷺ لاهل المدينة ذو الحليفة،
        ولاهل الشام الجحفة،
        ولاهل نجد قرن المنازل،
        ولاهل اليمن يلملم.
    </p>
    <p style="font-size: 17px; line-height: 1.8; font-style: italic; color: #444;">
        "Ibn Abbas (may Allah be pleased with him) said:  
        The Messenger of Allah (ﷺ) set Dhul-Hulayfah as the Miqat for the people of Madinah,  
        Al-Juhfah for the people of Shaam,  
        Qarn al-Manazil for the people of Najd,  
        and Yalamlam for the people of Yemen."
    </p>
     <p style="margin-top: 15px; font-weight: bold; color:#6a4e23;">
        Reference: Sahih al-Bukhari
    </p>
         <h3>Location and Significance</h3>
         <p><b>Location</b> Yalamlam (also known as al-Sadiah or Wadi Muhram) is a valley and village located about 100 kilometers (62 miles) south of Makkah, along the coastal road.</p>
        <p><b>Significance:</b> It is one of the five original Mawaqit (plural of Miqat) established by the Prophet Muhammad (peace be upon him). The Miqat is a crucial spiritual and physical boundary that pilgrims must not cross without 
        first entering the state of Ihram (a state of ritual consecration) if they intend to perform Hajj or Umrah.</p>
       <h3> Countries Using Yalamlam Miqat</h3>
<p>Yalamlam primarily serves pilgrims from the following regions and countries who travel via southern routes: 
    <li>Yemen</li>
     <li>Southern regions of Saudi Arabia</li>
    <li>South Africa</li>
     <li>Nigeria</li>
Other African countries coming from the south
Pilgrims traveling by sea from countries like India, Pakistan, China, and 
Japan also historically used or may use this Miqat if their sea or air route passes over or comes in line with it. </p>
       
  </article>

  <article id="al-juhfah" class="miqat-section">
        <h2>Al-Juhfah</h2>
        <p>Al-Juhfah is the designated Miqat for pilgrims coming from the Levant (Syria, Jordan, Lebanon, Palestine),
           as well as Egypt, Turkey, Europe, North America, and other African countries. Due to the original site being in ruins and subject to flooding
          pilgrims now use the nearby town of Rabigh as the practical Miqat location. .</p>
       
         <img src="{% static 'images/al-johfah.jpg' %}" class="qarnimg">
         <br><br>
         <h2 style="text-align:center; margin-top: 15px;">
        حديث المواقيت
    </h2>

    <p dir="rtl" style="font-size: 22px; line-height: 2; margin-bottom: 20px;">
        ان رسول الله ﷺ وقت لاهل المدينة ذا الحليفة،
        ولاهل الشام الجحفة،
        ولاهل نجد قرن المنازل،
        ولاهل اليمن يلملم.
        وقال: هن لهن ولمن اتى طريقهن من غير اهلهن،
        ولمن كان حولهن،
        حتى يحرم من مكانه الذي اهل منه.
    </p>

    <p style="font-size: 17px; line-height: 1.8; font-style: italic;">
        "The Messenger of Allah (ﷺ) set Dhul-Hulayfah for the people of Madinah,
        Al-Juhfah for the people of Shaam,
        Qarn al-Manazil for the people of Najd,
        and Yalamlam for the people of Yemen.
        These Miqats are for them and for anyone who passes their routes,
        even if they are not from those regions. Whoever lives within these boundaries 
        enters Ihram from where they begin their journey."
    </p>

    <p style="margin-top: 15px; font-weight: bold;">
        Reference: Sahih Muslim
    </p>
        <h2>Explanation of Al-Juhfah as a Miqat</h2> 

<p><b>Significance:</b> A Miqat is a principal boundary, designated by the Prophet Muhammad (PBUH), that pilgrims intending to perform Hajj or Umrah must not cross without first entering the state of Ihram (a state of ritual consecration).</p>
<p><b>Location:</b>The historic site of Al-Juhfah is located approximately 187 km (116 miles) northwest of Makkah, near the Red Sea coast.</p> 
<p><b>Current Usage (Rabigh):</b> Over time, Al-Juhfah declined and was largely abandoned. The nearby modern city of Rabigh, located just a short distance to the north, has officially taken its place and serves as the practical and well-equipped Miqat for pilgrims on this route today.</p>
<p><b>Obligation:</b> Pilgrims traveling by land, sea, or air who pass this point must enter Ihram at or before crossing the boundary. For those arriving by air to Jeddah, they should assume Ihram on the plane when they are parallel to the Miqat or go to the Miqat in Rabigh before proceeding to Makkah. </p>
  </article>

  <article id="dhat-irq" class="miqat-section">
        <h2>Dhat Irq</h2>
        <p>Located northeast of Makkah, this miqat is for those coming from Iraq and Iran.</p>
        <div class="map-box" id="map-dhat-irq"></div>
  </article>
    </div>
  </div>

  
  <aside class="miqat-right">
    <div class="sidebar">
      <h3>Navigation</h3>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Hajj & Umrah Guide</a></li>
        <li><a href="#">Ihram</a></li>
        <li><a href="#">Preparation</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Umrah</a></li>
        <li><a href="#">Nafl Hajj</a></li>
      </ul>

      <h3>Categories</h3>
      <ul>
        <li><a href="#">Hajj</a></li>
        <li><a href="#">Umrah</a></li>
        <li><a href="#">Landmarks</a></li>
        <li><a href="#">Travel Tips</a></li>
      </ul>
    </div>
  </aside>

</section>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<link rel="stylesheet" href="{% static 'miqat/css/miqat_detail.css' %}">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'javascript/miqat.js' %}"></script>
{% endblock %}