{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/nabvi.css' %}">

<div class="page-container">
    <div class="breadcrumb">
        <a href="#">Home</a> /
        <a href="#">ziyarat</a>/
        <span>Masjid Nabwi</span>
    </div>
    <div class="content-wrapper">
    <main class="main-content">
    <img src="{% static 'images/nabvi.jpeg' %}" >
    <div class="title-box"> 
    <h3>Masjid nabwi</h3>
    </div>
                <p>
                The Prophet's Mosque is the second mosque built by the Islamic prophet Muhammad in Medina, after the Quba Mosque,as well as the second largest mosque and holiest site in Islam,after the Masjid- al-Haram in Makkah.The mosque is located at the heart of Medina.Muhammad himself was involved in the construction of the mosque. 
                <p>
                At the time, the mosque's land belonged to two young orphans, Sahl and Suhayl, and when they learned that Muhammad wished to acquire their land to erect a mosque,they went to Muhammad and offered the land to him as a gift;Muhammad insisted on paying a price for the land because they were orphaned children.
                <p>
                The price agreed upon was paid by Abu Ayyub al-Ansari, who thus became the endower or donor of the mosque, on behalf or in favor of Muhammad.Originally an open-air building,the mosque served as a community center, a court of law, and a religious school.
                <p>
                It contained a raised platform or pulpi(minbar) for the people who taught the Quran and for Muhammad to give the Friday sermon (khutbah).Subsequent Islamic rulers greatly expanded and decorated the mosque,naming its walls,doors and minarets after themselves and their forefathers.
                <p>
                After an expansion during the reign of the Umayyad caliph al-Walid(R.A.A) it now incorporates the final resting place of Muhammad and the first two Rashidun caliphs Abu Bakr(R.A.A) and Umar(R.A.A).One of the most notable features of the site is the Green Dome in the south-east corner of the mosque,originally Aisha's house,where the tomb of Muhammad is located.
                <p>
                Many pilgrims who perform the Hajj also go to Medina to visit the Green Dome.In 1909, under the reign of Ottoman Sultan Abdul Hamid II, it became the first place in the Arabian Peninsula to be provided with electrical lights.
                <p>
                From the 14th century,he last remaining guardians were photographed at the request of Faisal bin Salman Al Saud, and in 2015,only five were left.It is generally open regardless of date or time, and has only been closed to visitors once in modern times as Ramadan approached during the COVID-19 pandemic in 2020.
               </p>  
               
<div class="title-box">       
<h4>Visiting Guidelines</h4>
</div> 
<br>
 • Pray maximum Nafil in Masjid An-Nabawi (Each Salah is multiplied by 50,000)
<br>
• Recite Quran and glorify Allah (Dhikr).
<br>
• Recite your Morning and Evening Adhkar
<br>
• Seek Allah’s mercy and forgiveness.

<div class="ziyarat-container">
<div class="title-box">
 GRAVE OF THE PROPHET
  ﷺ<br>
<span>AND HIS COMPANIONS ؓ</span>
</div>
<div class="graves-row">

<div class="grave">
<h3>RASULULLAH ﷺ</h3>
<span class="label">ENTRANCE →</span>
</div>

<div class="grave">
<h3>ABU BAKR"رضي الله عنه</h3>
</div>

<div class="grave">
<h3>UMAR"رضي الله عنه </h3>
<span class="label">EXIT →</span>
</div>
</div>
</main>

<aside class="sidebar">
<div class="navigation-box">
    <h2>Navigation</h2>
    <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Hajj & Umrah Guide</a></li>
    <li><a href="#">Planning & Preparation</a></li>
    <li><a href="#">Umrah</a></li>
    <li><a href="#">Hajj</a></li>
    <li><a href="#">Madinah</a></li>
    <li><a href="#">Makkah</a></li>
    </ul>
</div>
</aside>
</div>
</div>
{% endblock content %}
