{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/riaz.css' %}">

<div class="page-container">
<div class="breadcrumb">
<a href="#">Home</a> /
<a href="#">Ziyarat</a> /
<span>Riaz ul Jannah</span>
</div>

<div class="content-wrapper">
<main class="main-content">
<img src="{% static 'images/riaz.png' %}">

<div class="title-box">
<h1>Riaz ul Jannah</h1>
</div>

<p>
Riaz-ul-Jannah is known as the "Garden of Heaven". The history of Riaz-ul-Jannah goes back
to the early days of Islam when Masjid an-Nabawi served as a center of worship and learning
for the growing Muslim community.
</p>

<p>
This was the place where the Prophet Muhammad ﷺ used to offer prayers, teach the companions,
and guide the believers. Because of this close connection with the Prophet ﷺ, the place
holds great spiritual significance for Muslims around the world.
</p>

<p>
When the Prophet ﷺ passed away, Muslims preserved this blessed place with great care.
Today it remains one of the most sacred places inside Masjid an-Nabawi, visited by
millions of pilgrims performing Hajj and Umrah.
</p>


<div class="title-box">
<h3>Visiting Guidelines</h3>
</div>

<ul class="guidelines">
<li>Pray maximum Nafl in Riaz-ul-Jannah.</li>
<li>Recite Quran and make Dua.</li>
<li>Recite Morning and Evening Adhkar.</li>
<li>Send Salam to Prophet Muhammad ﷺ and his companions.</li>
</ul>
</main>

<aside class="sidebar">
<div class="navigation-box">
<h2>Navigation</h2>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Hajj & Umrah Guide</a></li>
<li><a href="#">Planning & Preparation</a></li>
<li><a href="#">Umrah</a></li>
<li><a href="#">Hajj</a></li>
<li><a href="#">Madinah</a></li>
<li><a href="#">Makkah</a></li>
</ul>

</div>
</aside>
</div>
</div>

{% endblock content %}