{% extends 'base/base.html' %}
{% block content %}
{% load static %}


<header>
<h1>Ziyarat Places in Madina & Makkah</h1>
<p>Explore the blessed sites of Madina and Makkah.Each site have a deep religious history. </p>
</header>

<h2><img src="{% static 'images/mosque.png' %}">MADINA ZIYARAT</h2>
<div class="wrapper">
<div class="cardg">
<img src="{% static 'images/nabvi.jpeg' %}">
<div class="info">
<h2>Masjid al-Nabawi</h2>
<p>The Prophet’s Mosque, Masjid Nabawi isn’t only the city’s focal point, but it is also known as “The heart of Madinah.”</p>
<div class="btn-group">
<a href="{% url 'base:nabvi' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/Riaz ul jannah.jpg' %}">
<div class="info">
<h2>Riaz ul Jannah</h2>
<p>Riaz Ul Jannah is a sacred and spiritually significant area in the Masjid an-Nabawi in Medina, which translates to "Garden of Paradise".</p>
<div class="btn-group">
<a href="{% url 'base:riaz' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/jannat al baqi 1.jpg' %}">
<div class="info">
<h2>Jannat al-Baqi</h2>
<p>Jannat al-Baqi' is the oldest cemetery in Medina,“Al-Baqi” means a tree garden. It is also known as “Jannat Al-Baqi”.</p>
<div class="btn-group">
<a href="{% url 'base:albaqi' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid mustrah.png' %}">
<div class="info">
<h2> Masjid-al-Mustrah</h2>
<p>Masjid al-Mustarah is where the Prophet (ﷺ) rested and prayed after the Battle of Uhud. The meaning of Mustarah is to ‘take rest’. </p>
<div class="btn-group">
<a href="{% url 'base:almustarah' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/al gammamah.jpg' %}">
<div class="info">
<h2> Masjid-al-Ghammama</h2>
<p>In this mosque prophet Muhammad performed an Eid prayer.Prophet Muhammad also offered Salat ul-Istasqa when the city of Madina faced a shortage of rain.</p>
<div class="btn-group">
<a href="{% url 'base:algammamah' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid abu bakar.png' %}">
<div class="info">
<h2>Masjid Abu Bakar</h2>
<p>Masjid Abu Bakar Siddiq is located in the south-west side of Masjid Nabawi.Muhammadﷺ used to offer Eid prayers and the same tradition was continued by Abu Bakr after Muhammad's death.</p>
<div class="btn-group">
<a href="{% url 'base:abubakar' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid ali.png' %}">
<div class="info">
<h2>Masjid al-Imam Ali</h2>
<p>Masjid al-Imam Ali ibn Talib is a mosque located at the site where the Prophet ﷺ is reported to have performed Eid salah, and where Ali ibn Abi Talib continued to do so after the Prophet's passing.</p>
<div class="btn-group">
<a href="{% url 'base:masjidali' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid umer bin khatab.jpg' %}">
<div class="info">
<h2> Masjid Umer Bin Khatab</h2>
<p>Masjid Umar Ibn Al-Khattab is a mosque in Madinah,Saudi Arabia,named after the second Caliph of Islam, Umar ibn Al-Khattab.This mosque is association with Umar's legacy and contributions to the early Islamic state.</p>
<div class="btn-group">
<a href="{% url 'base:masjidumer' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/uhad 2.jpg' %}">
<div class="info">
<h2>Mountain Uhad</h2> 
<p>The Mount Uhud is intricately connected with the battle that took place between the Muslims led by Prophet Muhammed (PBUH) and the Quraysh, in the third year of the Hijra.</p>
<div class="btn-group">
<a href="{% url 'base:uhad' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/garden of usman.jpg' %}">
<div class="info">
<h2> Garden Usman bin Affan</h2>
<p>The garden of Uthman bin Affan is located in the area of Al-Baqi.It is said that Uthman bin Affan, the third caliph of Islam, used to plant and take care of this garden himself.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid-al-qiblatain.png' %}">
<div class="info">
<h2> Masjid-al-Qiblatain</h2>
<p> The mosque is located northwest of Madinah, near Al-Aqiq Valley.It was renamed the Qiblatain Mosque because the Prophet, blessings and peace be upon him.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/khandaq.png' %}">
<div class="info">
<h2>Masjid Khandaq</h2>
<p>The Battle of Khandaq, also known as the Battle of the Trench, Ghazwa Khandaq or Battle of the Ditch, marks one of the most pivotal moments in early Islamic history.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
 <img src="{% static 'images/masjid quba 1.jpg' %}">
 <div class="info">   
<h2>Masjid Quba</h2>
<p>Masjid Quba is the first mosque in Islamic history, built by the Prophet Muhammad (PBUH) and his companions upon their arrival in Quba, near Medina.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a> 
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/Arees well.jpg' %}">
<div class="info">
<h2>Arees Well</h2>
<p>Also known as Bir Al-Aris, Bir Al-Khatam, and Well of the Ring, Well of Arees was one of the wells that Prophet Muhammad (PBUH) loved visiting. It was named after the ring the Prophet (SAW) wore.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/alfath.png' %}"> 
<div class="info">   
<h2>Masjid al-Fath</h2>
<p>Masjid al-Fath, also known as the Mosque of the Conquest.The mosque is situated near the Quba Mosque, which is the first mosque built by the Prophet Muhammad (PBUH) after his migration to Medina.</p> 
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/al-jummah.png' %}">
<div class="info">
<h2>Masjid al-Jummah</h2>
<p>Masjid al-Jummah is historically significant as the site where the Prophet Muhammad led the first Friday congregational prayer (Jummahsalah) after his Hijrah from Mecca to Medina.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>
</div>

<h2><img src="{% static 'images/kaaba.png' %}">MAKKAH ZIYARAT</h2>
<div class="wrapper1">
<div class="cardg">
<img src="{% static 'images/masjidjinn.png' %}">
<div class="info"> 
<h2>Masjid Jinn</h2>
<p>Masjid jinn is a mosque located in Makkah.It is believed to be the place where a group of jinn listened to the recitation of the Quran by the Prophet Muhammad (PBUH).</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/almualla.jpg' %}">
<div class="info">
<h2>Al Mualla cemetery</h2>
<p>Al-Mu'alla Cemetery, also known as Jannat al-Mu'alla.It including members of the Prophet Muhammad's (PBUH) family and close companions.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a> 
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid aisha.png' %}">
<div class="info">
<h2>Masjid Aisha</h2>
<p>Masjid Aisha, also known as Masjid at-Tan'im.It holds religious significance as it is associated with the practice of Ihram, a sacred state that Muslims enter for performing Hajj or Umrah.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/masjid haram.jpeg' %}">
<div class="info">
<h2>Masjid al-Haram</h2>
<p>Masjid al-Haram, also known as the Grand Mosque, is the largest mosque in the world and is located in Makkah.It is the holiest site in Islam.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/cave hira.jpg' %}">
<div class="info">
<h2>Hira Cave</h2>
<p>The Hira Cave,located on Jabal al-Nour.It is renowned as the place where the Prophet Muhammad (PBUH) received his first revelation from Allah through the Angel Gabriel (Jibril).</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/Muzdalifah.jpg' %}">
<div class="info">
<h2>Muzdalifah</h2>
<p>Muzdalifah is an open area located between Mina and Arafat in Saudi Arabia.After spending the day at Arafat, pilgrims proceed to Muzdalifah to perform their Hajj journey.</p>
<div class="btn-group">
<a href="{% url 'base:muzdalifah' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/mina.png' %}">
 <div class="info">
<h2>Mina</h2>
<p>Mina is a neighborhood of Makkah in Saudi Arabia.It is located near Masjid al-Haram and is known for its vast tent city.</p>
<div class="btn-group">
<a href="{% url 'base:mina' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/Arafat.jpg' %}">
 <div class="info">
<h2>Arafat</h2>
<p>Arafat, also known as Mount Arafat or Jabal al-Rahmah.It is a significant site located near Makkah.It holds immense religious importance in Islam.</p>
<div class="btn-group">
<a href="{% url 'base:arafat' %}" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>  
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/Birthplace.png' %}">
<div class="info">
<h2>Birthplace of Prophet Muhammad</h2>
<p>The birthplace of Prophet Muhammad (PBUH) is located in Makkah.It is traditionally believed to be situated in the vicinity of the Masjid al-Haram.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/safamarwah.jpg' %}">
<div class="info">
<h2>Safa and Marwah</h2>
<p>Safa and Marwah are two small hills located within the Masjid al-Haram in Makkah.They hold significant religious importance in Islam, particularly during the Hajj and Umrah pilgrimages.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/zamzam.jpg' %}">
<div class="info">
<h2>Zamzam Well</h2>
<p>The Zamzam Well is a historic and sacred well located within the Masjid al-Haram.It holds immense religious significance in Islam and is considered one of the holiest sites for Muslims worldwide.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>

<div class="cardg">
<img src="{% static 'images/maqam ibrahim.jpg' %}">
<div class="info">
<h2>Maqam Ibrahim</h2>
<p>Maqam Ibrahim, also known as the Station of Abraham and located within the Masjid al-Haram.It is associated with the prophet Abraham (Ibrahim) and his role in the construction of the Kaaba.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>


<div class="cardg">
    <img src="{% static 'images/jabal-e-rehmat.jpeg' %}">
    <div class="info">
    <h2>Jabal e Rehmat</h2>
    <p>Jabal al-Rahmah also known as the Mountain of Mercy.It holds religious importance in Islam, particularly during the annual Hajj pilgrimage.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a> 
</div>
</div>
</div>

<div class="cardg">
    <img src="{% static 'images/jamarat.jpg' %}">
 <div class="info">
    <h2>Jamarat</h2>
    <p>The Jamarat are three stone pillars located in Mina, near Makkah,Saudi Arabia.</p>
<div class="btn-group">
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a> 
</div>
</div>
</div>

<div class="cardg">
    <img src="{% static 'images/masjid nimrah.jpg' %}">
     <div class="info">
    <h2>Masjid al-Nimrah</h2>
    <p>Masjid al-Nimrah is a significant mosque located in the plain of Arafat, near Makkaha.It holds immense religious importance in Islam.</p>
<div class="btn-group">  
<a href="" class="button">Explanation</a>
<a href="#" class="button">Go to location</a>
</div>
</div>
</div>
 
<footer class="simple-footer">
    <div class="footer-container">
        <p>&copy; 2026 <span>Safar-e-Haram</span> | All Rights Reserved</p>
        </div>
    </div>
</footer>
 


{% endblock %}
