<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">
</head>
<body>

<div class="background"></div>
<div class="container">
    <div class="card">
        <div class="icon">
        </div>
        
        <h2>Forget password?</h2>
        <p>We’ll send you updated instructions shortly.</p>

        {% if messages %}
            {% for message in messages %}
                <div style="color: #fca5a5; margin-bottom: 15px; font-size: 0.9rem;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            
            <label style="display: block; text-align: left; margin-bottom: 5px;">Email</label>
            
            <input type="email" name="email" placeholder="Enter your email" required>
            
            <button type="submit">Reset password</button>
        </form>

        <div style="margin-top: 20px;">
            <a href="{% url 'login' %}" style="color: #c5a059; text-decoration: none; font-size: 0.9rem;">
                Back to Login
            </a>
        </div>
    </div>
</div>

</body>
</html>