<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forget_password_invalid.css' %}">
</head>
<body>

<div class="background"></div>
<div class="container">
    <div class="card">
        <div class="icon error">!</div>
        <h2>Forgot Password</h2>
        <p>Enter your email to receive reset instructions</p>

        <div class="error-box">
            Invalid email or account not found
        </div>
        <form>
            <label>Email</label>
            <input type="email" required>
            <button type="submit">Try Again</button>
        </form>

    </div>
</div>

</body>
</html>