*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}
.page-container{
max-width:1400px;
margin:100px auto 30px auto;
padding:0 20px;
}
.breadcrumb{
margin-bottom:20px;
font-size:14px;
color:#777;
}

.breadcrumb a{
color: #065f46;
text-decoration:none;
font-weight:500;
margin-right:5px;
}

.breadcrumb span{
color:#31a074;
}
.content-wrapper{
display:flex;
gap:40px;
align-items: flex-start;
}

.main-content{
flex:3;
padding:25px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
}
.main-content img{
width:80%;
border-radius:10px;
margin-bottom:20px;
}
.main-content p{
line-height:1.7;
font-size:16px;
color:#333;
margin-bottom:18px;
}
.title-box{
background:#065f46;
color:white;
text-align:center;
padding:8px 20px;
font-size:20px;
font-weight:bold;
border-radius:6px;
width:fit-content;
margin:20px auto;
}
.guidelines{
margin-top:20px;
padding-left:25px;
}
.guidelines li{
margin-bottom:10px;
font-size:15px;
}
.ziyarat-container{
background:#fff;
padding:20px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
margin-top:30px;
}
.graves-row{
display:flex;
justify-content:space-between;
gap:20px;
flex-wrap:wrap;
}

.grave{
flex:1 1 30%;
background:#065f46;
color:white;
text-align:center;
padding:30px 15px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
position:relative;
transition:transform .3s;
}
.grave:hover{
transform:translateY(-6px);
}
.grave p{
font-size:14px;
color: #fcfbfb;
}
.grave h4{
margin-bottom:10px;
font-size:18px;
}
.label{
font-size:14px;
color:#0f291e;
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
}
.sidebar{
flex:1;
min-width:260px;
position:sticky;
top:20px;
}
.navigation-box{
border-radius:12px;
padding:25px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
}
.navigation-box h2{
margin-bottom:20px;
color:#0f5132;
font-size:32px;
}
.navigation-box ul{
list-style:none;
}
.navigation-box li{
padding:10px 0;
border-bottom:1px solid #eee;
}
.navigation-box a{
text-decoration:none;
color:#555;
font-weight:500;
display:block;
transition:0.3s;
}

.navigation-box a:hover{
color:#31a074;
}
@media(max-width:768px){

.content-wrapper{
flex-direction:column;
}
.main-content{
width:100%;
}
.sidebar{
width: 100%;
position: relative;
}

}