html {
  font-family: 'Poppins', sans-serif;
  }

:root{
    --primary: #155c3b;
    --gold: #c5a059;
    --bg: #f4f7f6;
    --danger: #e74c3c;
}
body{
    margin: 0;
    background: var(--bg);
    display: flex;
}
.sidebar{
    width: 280px;
    height: 100vh;
    background: white;
    border-right: 1px solid #ddd;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.logo-section{
    padding: 25px;
    background: var(--primary);
    color: white; 
    text-align: center;
}
.side-nav{
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
}
.nav-group-title{
    font-size: 10px;
    color: #aaa;
    text-transform: uppercase;
    margin: 20px 0 10px 10px;
    letter-spacing: 1px;
    font-weight: bold;
}
 .nav-item{
    display: flex;
    align-items:center;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 5px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: #555;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s;
    box-sizing: border-box;
}
.nav-item:hover, .nav-item.active{
    background: #eafaf1;
    color: var(--primary); 
    font-weight: 600;
}
.nav-item i{
    margin-right: 12px;
    width: 20px;
    font-size: 18px;
}        
.main-container{
    margin-left: 280px;
    width: calc(100% - 280px);
    min-height: 100vh;
}
.top-navbar{
    height: 75px;
    background: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 999;
}           
.notification-wrapper { 
    position: relative;
    cursor: pointer; 
}
.notif-badge { 
    position: absolute; 
    top: -5px;
    right: -5px; 
    background: var(--danger);
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%; 
    border: 2px solid white;
}
.notif-dropdown {
    position: absolute; 
    top: 40px; right: 0;
    width: 300px; 
    background: white; 
    border-radius: 12px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
    display: none; 
    border: 1px solid #eee; 
    overflow: hidden;
}
.notif-item { 
    padding: 15px; 
    border-bottom: 1px solid #f9f9f9; 
    font-size: 13px; 
    display: flex; 
    gap: 10px;
}
.notif-item:hover{ 
    background: #f8faf9;
}
        
.logout-section { 
    padding: 20px; 
    border-top: 1px solid #eee;
}